authenticationService/log.log
saleService/log.log
authenticationService/.vscode
saleService/.vscode
saleService/node_modules
authenticationService/node_modules
saleService/package-lock.json
authenticationService/package-lock.json
saleService/config.js
authenticationService/dist/
authenticationService/config/index.ts
saleService/config.js

